body{
  text-align: center;
}
h1{
  font-size: 5em;
  line-height: 4rem;
  letter-spacing: .1em;
}
h2{
  font-size: 3em;
  letter-spacing: .1em;
}
.eyecache {
  padding: 8em 0;
  .subtitle{
    font-size: 2rem;
    font-weight: 500;
  }
  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    a{
      color: black;
      text-decoration: none;
      position: relative;
      display: block;
      &::after{
        content: '';
        width: 0;
        transition: all 0.3s ease;
        border-bottom: 4px solid #000;
        display: block;
        margin-top: .5rem;
      }
      &:hover{
        &::after{
          width: 100%;
	        border-bottom: 4px solid #000;
        }
      }
    }
  }
}

// works
#works{
  background-color: #f7f7f7;
  padding: 2em 0;
  .my-works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    .work-img{
      padding-bottom: 2em;
    }
    img{
      width: 400px;
      height: 300px;
    }
    .title{
      font-weight: bold;
    }
    .skill-explaine{
      font-weight: 400;
    }
  }
}

//skill
#skill{
  padding: 2em 0;
  .wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    .back{
      .item{
        padding-top: 2em;
      }
    }
    .front{
      .item{
        padding-bottom: 2em;
      }
      .html{
        padding-bottom: 0;
      }
    }
    .item{
      display: flex;
      .skill-title{
        font-weight: bold;
        letter-spacing: .1em;
        padding-top: .5em;
      }
      .html{
        padding-top: 2.5em;
        margin-bottom: 0;
      }
      img{
        width: 150px;
      }
    }
  }
}

//about
#about{
  background-color: #f7f7f7;
  padding: 2em 0;
  .profile{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 2em;
    }
    .about-me{
      text-align: left;
      padding: 0;
      font-size: 1.1em;
    }
    .sns{
      display: flex;
      justify-content: space-between;
      .textlink a{
        position: relative;
        color: #333;
        text-decoration: none;
        font-size: 1.7em;
        &:hover{
          color: #b99b00;
          &::after{
            width: 100%;
          }
        }
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #ceb849;
          transition: width 0.3s;
        }
      }
    }
  }
}