h1{
  font-size: 5em;
  line-height: 4rem;
  letter-spacing: .1em;
}
h2{
  font-size: 3em;
  letter-spacing: .1em;
}
.eyecache {
  text-align: center;
  padding: 8em 0;
  .subtitle{
    font-size: 2rem;
    font-weight: 500;
  }
  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    a{
      color: black;
      text-decoration: none;
      position: relative;
      display: block;
      &::after{
        content: '';
        width: 0;
        transition: all 0.3s ease;
        border-bottom: 4px solid #000;
        display: block;
        margin-top: .5rem;
      }
      &:hover{
        &::after{
          width: 100%;
	        border-bottom: 4px solid #000;
        }
      }
    }
  }
}

// works
#works{
  text-align: center;
  background-color: #f7f7f7;
  padding: 2em 0;
  .my-works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    .work-img{
      padding-bottom: 2em;
    }
    img{
      width: 400px;
      height: 300px;
    }
    .title{
      font-weight: bold;
    }
    .skill-explaine{
      font-weight: 400;
    }
  }
}
